html {
    background-color: #55cee3;
}

body {
    margin: 0;
}
#score {
    position: absolute;
    top: 38%;
    left: 48%;
    font-size: 48pt;
    user-select: none;
    z-index: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px black;
}

#drawCanvas {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 3;
}

#hider {
    background-color: #55cee3;
    width: 500px;
    height: 750px;
    z-index: 1;
    position: absolute;
    top: 15%;
    left: 40%;
    opacity: 0%;
    animation: show 1s forwards;
}

#hider.hidden {
    animation: hide .25s forwards;
}

@keyframes hide {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

@keyframes show {
    from {
        opacity: 100%;
    } to {
        opacity: 0%;
    }
}

#background {
    position: absolute;
    top: -1.7vh;
    left: -5.3vw;
    z-index: -1;
    width: 115%;
    height: auto;
}