* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    text-align: center;
}

.centered-text {
    padding: 0 5vw;
}

button {
    margin: 1%;
    padding: 1%;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    border: none;
}

#nav-bar {
    display: flex;
    align-items: center;
    height: 65px;
    border-bottom: 1px solid lightgray;
}

img {
    height: 100%;
    cursor: pointer;
}

#nav-bar img {
    height: 50%;
    margin-left: 20px;
}

h1 {
    flex: 1;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.menu-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    height: auto;
    width: 0;
    overflow: hidden;
    transition: width .5s;
    white-space: nowrap;
    padding-bottom: 10px;
}

#menu-info {
    display: flex;
    height: 65px;
    align-items: center;
    border-bottom: 1px solid darkgrey;
}

#menu-info p {
    font-size: 24px;
    margin-left: 25px;
}

#menu-info img {
    height: 20px;
    margin-left: 20px;
}

.menu-content.show-menu {
    width: 375px;
}

.page-link {
    height: 20px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-link a {
    margin: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

#menu-options {
    border-bottom: 1px solid darkgrey;
    margin: 20px;
}

#quote {
    max-width: 33%;
    text-align: center;
    margin: 1.8vw auto 0 auto;
    font-size: 1.4vw;
    overflow: hidden;
    height: 72px;
    transition: height .5s;
}

#quote.hide, #diff-title.hide, .diff-button.hide {
    height: 0;
}

#diff-title {
    font-size: 1.8vw;
    height: 2.5vw;
    overflow: hidden;
    transition: height .5s;
}
 
#difficulty {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

#custom-menu {
    text-align: left;
    justify-content: center;
    transition: 
        height .5s,
        padding .5s;
    ;
    width: 80%;
    height: 0px;
    background-color: lightgray;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    padding: 0px;
}
#custom-menu.show {
    height: 100px;
    padding: 15px;
}

#input-line {
    display: flex;
    justify-content: space-between; /* This will equally space the items */
    align-items: center; /* Align items vertically centered */
    padding: 0 50px;
    font-size: 24px;
}

.diff-button {
    margin: auto;
    background-color: lightgray;
    width: 20%;
    opacity: 0;
    transition: 
        opacity 1s ease-in-out,
        height .5s;
    height: 12vw;
    border-radius: 15px;
    overflow: hidden;
}

.diff-button.fade-in {
    opacity: 1;
}

.example {
    display: flex;
    width: 100%;
    height: 6vw;
    margin: auto;
    justify-content: center;
}

.diff-button:hover {
    background-color: darkgray;
}

.diff-button:active {
    background-color: gray;
}

#easy .example, #medium .example {
    font-size: 1.8vw;
}

#hard .example, #custom .example {
    font-size: 1.2vw;
}

.diff-button p:not(#set) {
    margin: 5% auto;
    font-size: 1.5vw;
}

#error {
    color:red;
    opacity: 0%;
    transition: opacity .5s ease-in-out;
}
#error.show {
    opacity: 100%;
}

#start {
    font-size: 24px;
    width: 0;
    padding: 0;
    border: none;
    margin: 0;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}

#start.show {
    width: 66px;
}

.input-field, #enter, .button-container {
    display: none;
}

.input-field, .button-container {
    margin-top: 20px;
    font-size: 18px;
}

#problem, #originTest {
    margin-top: 12px;
    width: auto;
    text-wrap: nowrap;
}

.button-container {
    display: flex;
    justify-content: center;
}

.debug-text {
    font-size: 24px;
}

#disclaimer {
    padding-top: 10px;
    font-size: 9px;
}